language: ruby

rvm:
  - 2.4.0

addons:
  chrome: stable

install:
  - gem install cucumber
  - gem install watir

script:
  - cd EXAMPLE
  - export HEADLESS_CHROME=true
  - export LOG_LEVEL=DEBUG
  - xvfb-run cucumber -p example
  - ruby -e "puts 'OZ BUILD COMPLETED'"